<%= link_to 'Home', root_path %>
<%= link_to 'Participants', participants_path %>

<% if @meetings.blank? %>
	<p>There is no meeting registered.</p>

<% else %>
	<p>These are the current registered meetings:</p>
	<ul id="meetings">
	<% @meetings.each do |meeting| %>
	<li>
    	<%= link_to meeting.title, meeting %>
    	<b><%= link_to 'Edit', edit_meeting_path(meeting) %></b>
    	<b><%= link_to 'Delete', meeting, :confirm => 'Are you sure you want to dele this meeting?', :method => :delete %></b>
	
	</li>
	<% end %>
	</ul>
<% end %>

<p><%= link_to 'Add new meeting', new_meeting_path %></p>


