<h1><%= @meeting.title %></h1>
<b>Date: </b> <%= @meeting.date %><br />
<b>Time: </b> <%= @meeting.time %><br />
<b>Created_at: </b> <%= @meeting.created_at %><br />
<p><%= @meeting.description %></p>
<p><b>Confirmed users:</b></p>
<ul>
	<% @meeting.participants.each do |participant| %>
		<li>
	    	<%= link_to participant.name, participant %>
		</li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
