<% form_for(@participant) do |f| %>
  	<%= f.error_messages %>
	
	<p><font color="red">*</font>
		<%= f.label "Name: " %>
		<%= f.text_field :name %>
	</p>
	
	<p>
		<%= f.label "Email: " %>
		<%= f.text_field :email %>
	</p>
	
	<p><font color="red">* Required Fields</font></p>

  	<p>
    	<%= f.submit 'Create' %>
	</p>
<% end %>
