<h1><%= @participant.name %></h1>
<p>
	<b>Email: </b> <%= @participant.email %>
</p>

<% @aux = @meetings%>

<b>Confirmed Meetings: </b> 
<ul>
	<% @participant.meetings.each do |meeting| %>
		<li>
	    	<%= link_to meeting.title, meeting %>
			<% @aux.delete(meeting) %>
		</li>
	<% end %>
</ul>
<div class=cool_box>
<b>Confirm Participation In: </b>
<% form_tag :action => "join" do %>
	<%= hidden_field "participant", "id", :id => @participant.id %>
	<%= collection_select(:meeting, :id, @aux, :id, :title, :class =>"Meeting") %>
	<br /><br />
	<%= submit_tag "Join" %>
<% end %>
</div>
<br /><br />
<div class=cool_box>
<b> Remove Participation In: </b>
<% form_tag :action => "disjoin" do %>
	<%= hidden_field "participant", "id", :id => @participant.id %>
	<%= collection_select(:meeting, :id, @participant.meetings, :id, :title, :class =>"Meeting") %>
	<br /><br />
	<%= submit_tag "Leave" %>
<% end %>
</div>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
